.announcement{
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    padding: 5px 20px;
    border-radius: 10px;
    gap: 10px;
    justify-content: flex-start;
    word-wrap: break-word;
    flex-grow: 1;
    box-sizing: border-box; 
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading span{
    border: 1px solid #E0E0E0;
    padding: 5px;
    border-radius: 5px;
}
.announcement-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
}
.all-announcement span{
    color: #FF5151;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E0E0E0; 
    cursor: pointer;
    padding: 2px;
}


@media (max-width: 390px){
    .announcement{
        align-items: center;
        width: 100vw !important;   
        padding: 5px 10px; 
    }
    .heading{
        width: 100%;
    }
}