.right-panel{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width: 391px) and (max-width: 834px) {
    .right-panel{
        flex-direction: row;
    }
}

@media (max-width: 390px){
    .right-panel{
        flex-direction: column;
        margin-left: 10px;
    }
}